// sizes
$headerHeight: 90px;
$smallDeviceBreakpoint: 700px;
$globalPadding: 80px;

// breakpoints
$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;

// colors
$orange: #ff8133;
$orange: #f57061;
// $red: #ff1b1c;
$turquoise: #2B8B8E;
$black: #210f04;
$greyDarker: #353645;
$green: #5cff72; 
$lightGrey: #ebebeb;;