// sizes
$headerHeight: 80px;
$smallDeviceBreakpoint: 700px;
$globalPadding: 80px;

// colors
// $orange: #ff8133;
$orange: #f57061;
$red: #ff1b1c;
$turquoise: #60E1E0;
$black: #210f04;
$greyDarker: #353645;
$green: #5cff72; 