@import 'src/sass/variables';

header {
    height: $headerHeight;
    padding: 0 $globalPadding;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-screen-nav {
    display: none;
}

.turquoise {
    color: $turquoise;
}

@media screen and (max-width: $smallDeviceBreakpoint) {
    .small-screen-nav {
        display: block;
    }
    .desktop-nav {
        display: none;
    }
}