@import 'src/sass/variables';

nav {
    display: flex;
    align-items: center;
    a {
        text-decoration: none;
    }
}

.nav-item {
    margin-left: 35px;
}

.nav-item:hover a {
    color: $orange;
}

.menu-openner {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
        cursor: pointer;
    }
}

.menu-openner-mouseover {
    cursor: pointer;
    &:hover {
        cursor: pointer;
    } 
}