<h2 class="mat-h2">
    Get Started
</h2>

<!-- <div class="flex-box">
    <a class="btn btn-large btn-white" href="">Order</a>
    <a class="btn btn-large btn-white" href="">Ship</a>
    <a class="btn btn-large btn-white" href="">Become a Courier</a>
</div> -->

<div class="flex-box">
    <a class="btn btn-large btn-white" href="">Order <span class="material-icons">arrow_forward</span></a>
    <a class="btn btn-large btn-white" href="">Ship <span class="material-icons">arrow_forward</span></a>
    <a class="btn btn-large btn-white" href="">Become a Courier <span class="material-icons">arrow_forward</span></a>
</div>