<h2 class="typo-m typo-bold">
    Get Started
</h2>

<!-- <div class="flex-box">
    <a class="btn btn-large btn-white" href="">Order</a>
    <a class="btn btn-large btn-white" href="">Ship</a>
    <a class="btn btn-large btn-white" href="">Deliver</a>
</div> -->

<div class="flex-box">
    <!-- <a class="btn btn-large btn-white" href="">Order <span class="material-icons">arrow_forward</span></a> -->
    <a class="btn btn-large btn-white" href="">Ship <span class="material-icons">arrow_forward</span></a>
    <a class="btn btn-large btn-white" href="">Deliver <span class="material-icons">arrow_forward</span></a>
</div>