@import 'src/sass/variables';

h2 {
    text-align: center;
    margin-bottom: 50px;
}

.flex-box {
    display: flex;
    justify-content: space-between;
}

.flex-box .btn {
    width: calc(20%);
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons {
        color: $orange;
        position: relative;
        left: 10px;
        transition: all .5s;
    }
    &:hover .material-icons {
        left: 20px;
    }
}