@import 'src/sass/variables';
  
#global-wrapper {
    max-width: 1425px;
    margin: 0 auto;
}

.sidenav {
    width: 100vw;
}

.container {
    background-color: #fff;
    padding: 0 $globalPadding;
}