@import 'src/sass/variables';

a.btn {
    text-decoration: none;
}

.btn {
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;
    // box-shadow: 0 3px 1px -2px rgba(150,150,150,.14), 0 2px 2px 0 rgba(150,150,150,.12), 0 1px 5px 0 rgba(150,150,150,.10);
    // box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.10), 0 1px 5px 0 rgba(0,0,0,.08);
    &:hover {
        position: relative;
        bottom: 2px;
    }
}

.btn-white {
    color: $orange;
    border-color: $orange;
}

.btn-large {
    border-radius: 55px;
    padding: 15px 55px;
    font-size: 1.5rem;
}

.btn-orange {
    color: #fff;
    background-color: $orange;
}
