@import 'src/sass/variables';

a.btn {
    text-decoration: none;
}

.btn {
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;
    &:hover {
        position: relative;
        bottom: 2px;
    }
}

.btn-white {
    color: $orange;
    border-color: $orange;
}

.btn-large {
    border-radius: 55px;
    padding: 15px 55px;
    font-size: 1.5rem;
}

.btn-orange {
    color: #fff;
    background-color: $orange;
}
