<div class="flexbox">
    <div class="left-part">
        <mat-tab-group animationDuration="500ms" disableRipple dynamicHeight>
            <mat-tab label="Ship">
                <app-ship-intro></app-ship-intro>
            </mat-tab>
            <!-- <mat-tab label="Order">
                <app-order-intro></app-order-intro>
            </mat-tab> -->
            <mat-tab label="Deliver">
                <app-courier-intro></app-courier-intro>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="right-part">
        <img src="assets/images/shutterstock_1138171415.jpg" alt="">
    </div>
</div>

