@import 'src/sass/variables';

.flexbox {
    display: flex;
    min-height: calc(100vh - #{$headerHeight} - 25vh);
}

.left-part {
    width: 50%;
    // padding: 30px;
}

.right-part {
    width: 50%;
    img {
        width: 100%;
    }
}

::ng-deep .mat-tab-label {
    font-size: 1.5rem;
    font-weight: 400;
    color: $greyDarker;
    opacity: 1 !important;
    &:hover {
        color: $orange;
        opacity: 1;
    }
}

::ng-deep .mat-tab-label.mat-tab-label-active {
    color: $orange;
    opacity: 1;
}

::ng-deep .mat-tab-header {
    border-bottom: none;
}

::ng-deep .mat-tab-group, ::ng-deep .mat-tab-body {
    height: 100%;
}

::ng-deep .mat-tab-body-wrapper {
    flex: 1 1 100%;
}

.section-intro {
    padding-top: 30px;
}