.intro {
    text-align: center;
}

@import 'src/sass/variables';

.cards-box {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    padding: 50px;
    width: 450px;
}

.card-title {
    color: $orange;
}
